# Visual Studio and VS Code cache, temp, and build output files. 
*.vs/
*.vscode/
*.code-workspace
*.sln
*.tmp
*.pdb
*.cache
**/[Oo]bj/
**/[Bb]in/
**/[Oo]ut/
**/[Bb]uild/
**/[Bb]uilds/

# Unity files and folders
*.csproj
*.unityproj
**/[Ll]ibrary/
**/[Tt]emp/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/